html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
}

.controlPanelPC {
  background-color: rgba(188, 227, 236, 0.699);

  position: absolute;
  left: 10px;
  top: 10px;

  width: 220px;
  height: 25%;
}

.controlPanelMobile {
  background-color: rgba(188, 227, 236, 0.699);

  position: absolute;
  left: 10px;
  bottom: 20px;

  width: fit-content;
  height: fit-content;
}

.panelImage {
  pointer-events: visiblePainted;
  user-select: none;
  width: 55px;
  height: 55px;
}
